@import "../../Shared/color.scss";

.cardContainer{
    display: inline-block;
    height: 150px;
    // border: 1px solid blue;

    margin-bottom: 5%;
    cursor: pointer;
    .card-body{
        padding: 0;
        .card-img{
            opacity: 0.9;
            filter: brightness(0.7) saturate(5%) contrast(105%) hue-rotate(20deg);
            -webkit-filter: brightness(0.7) saturate(5%) contrast(105%) hue-rotate(20deg);
            height: 156px;
        }
        .card-title{
            position: absolute;
            bottom: 6%;
            // color: #e1f5ff;
            color:$main-title-color-card;
            font-weight: 600;
            padding-left: 10px;
        }
        .card-genres{
            opacity: 0.8;
            position: absolute;
            top: 6%;
            right: 3%;
            background: #1e2b31;
            border: none;
            color: $main-white-color;
            border-radius: 3%;
            padding: 3px 15px;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: -0.4px;
            font-weight: 500;
        }
    }
    .card{
        border: none;
    }
}