//Customizar pantalla principal
$main-background:#1b1b1b; // Color de fondo.
$main-white-color:#ffffff; // Textos blancos e iconos.
$main-title-color-card:#e1f5ff; // Color de los titulos de todas las cartas.
