@import "../Shared/color.scss";
.search{
    margin: 0 auto;
    width: 78%;
    padding-top: 2%;
    input{
        border: none;
        background-color:$main-background;
        &:focus{
            background-color:$main-background;
            border: 1px solid gray;
        }
    }
    .input-group-text{
        border: none;
        background-color:$main-background;
       
    }
    ::-webkit-input-placeholder {
        text-align: center;
        color: $main-white-color;
        font-size: 19px;
     }
    svg{
        path{
            fill: $main-white-color;
        }
    }
}