@import "../Shared/color.scss";

.Series{
    background-color:$main-background;
    .container-card{
        width: 80%;
        margin: 0 auto;
    }
    .container-subtitle{
        color: $main-white-color;
        font-size: 12px;
        opacity: 0.56;
        width: 78%;
        margin: 0 auto;
    }
}
