.detailSeries{
    width:100vw;
    height:100vh;
    position:relative;
    .container-detail{
        height:100vh;
        position: relative;
        text-align: center;
        .detail-img{
            margin-top: 35px;
            width: 182px;
            height: 273px;
            filter: grayscale(0);
            border-radius: 6px;
            transition: 0.2s;
        }
        .detail-title{
            font-size: 26px;
            color:#ffffff;
            font-weight: 400;
            margin-top:1%;
            font-weight: 500;
        }
        .detail-subtitle{
            color: #383838;
            font-size: 16px;
            opacity: 0.9;
            width: 76%;
            font-weight: 500;
            margin-top: 1em;
        }
        .detail-date{
            font-size: 16px;
            color:#ffffff;
            font-weight: 400
        }
        .btn-outline-warning{
            margin-top: 1em;
            color: #ffffff;;
            border-color: #ffffff;;
            border-radius: 24px;
            padding: 7px 39px;
            border: 1px solid #ffffff;
            font-weight: 500;
            &:hover{
                color: #ffffff;
                background-color: #383838;
                opacity: 0.7
            }
        }
        .overview{
            margin-top: 3%;
            font-size: 15px;
            color:#ffffff;
            width: 30%;
            margin: 0 auto;    
            text-align: justify;   
            margin-top: 1em;  
        }
    }
}
